html{
    scroll-behavior: smooth;
}

#startscreen {
    position: relative;
    height: 100vh;
    background-color: #000a1b;
    background-image: radial-gradient(circle, #051a3d, #000610);
    padding: 0;
    margin: 0;

}
@keyframes movebackground {
    from {background-position: 0vw;}
    to {background-position: 50vw;}
}
@keyframes movetextup {
    from {top: 40%;}
    to {top: 30%;}
}
@keyframes textopacity {
    from {opacity: 0;}
    tp {opacity: 1;}
}

.mainheading{
    position: absolute;
    top: 40%;
    width: 100%;
    color: transparent;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 6vw;
    background-image:url(https://t3.ftcdn.net/jpg/02/96/79/82/360_F_296798219_SdbhwO6R9dx2i1F3nS8WvLmc5RPeS0Sl.jpg);
    background-size: 200vw;
    -webkit-background-clip: text;

    animation: 
        movebackground 20s infinite alternate linear, 
        movetextup 1.5s ease 1s 1 forwards, 
        textopacity 2s linear 0.25s 1 both
    ;

}

@keyframes h3animate {
    from {letter-spacing: 0.1px; opacity: 0}
    to {letter-spacing: 2px; opacity: 1}
}

.secondheading{
    position: absolute;
    top: 43%;
    width: 100%;
    color: transparent;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 1.5vw;
    background-image:url(https://t3.ftcdn.net/jpg/02/96/79/82/360_F_296798219_SdbhwO6R9dx2i1F3nS8WvLmc5RPeS0Sl.jpg);
    background-size: 200vw;
    /* text-shadow: 2px 2px rgba(0,0,0,.07); */
    -webkit-background-clip: text;

    animation:
        movebackground 20s infinite alternate linear, 
        h3animate 2s ease 2s 1 both
    ;

}

@keyframes logoopacity {
    from {opacity: 0}
    to {opacity: 1}
}
.logoimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50vh;
    width: 8vw;

    animation: 
        logoopacity 1.5s linear 1.5s 1 both
    ;
}

.scrlbtn-container {
    position: absolute;
    width: 100%;

    text-align: center;
    bottom: 0;
    margin-bottom:0;
    background-image: linear-gradient(rgba(0,0,0,0.0)0%, black);
}
a#scrlbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes arrowopacitystart {
    from {opacity: 0}
    to {opacity: 0.6}
}

@keyframes arrowopacity {
    from {opacity: 0.6}
    to {opacity: 0.2}
}
.scrlbtn-img {
    
    width: 4vw;
    animation: 
        arrowopacitystart 1.5s linear 1.5s 1 backwards,
        arrowopacity 0.75s linear 3s infinite alternate
    ;
}


#cocktailselect {
    position: relative;
    height: 100vh;
}

.gradientbottom {
    position: absolute;
    width: 100%;
    top: 0;
    height: 4vw;
    background-image: linear-gradient(to top, rgba(0,0,0,0.0)0%, black);
}

canvas {
    background-color: red;
}

.cocktailnamecontainer {
    position: absolute;
    width: 100%;
    height: 20vh;

}

.chooseyourcocktail {

    color: transparent;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 4vw;
    background-image:url(https://t3.ftcdn.net/jpg/02/96/79/82/360_F_296798219_SdbhwO6R9dx2i1F3nS8WvLmc5RPeS0Sl.jpg);
    background-size: 200vw;
    -webkit-background-clip: text;

    animation: movebackground 20s infinite alternate linear;
}

#cocktailname {
    position: absolute;
    top: 10vh;
    width: 100%;
    color: transparent;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 2.5vw;
    font-style: italic;
    background-image:url(https://t3.ftcdn.net/jpg/02/96/79/82/360_F_296798219_SdbhwO6R9dx2i1F3nS8WvLmc5RPeS0Sl.jpg);
    background-size: 200vw;
    -webkit-background-clip: text;

    animation: movebackground 20s infinite alternate linear;
}

.cocktailinstruction {
    position: absolute;
    top: 19vh;
    width: 100%;
    color: transparent;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 1.5vw;
    background-image:url(https://t3.ftcdn.net/jpg/02/96/79/82/360_F_296798219_SdbhwO6R9dx2i1F3nS8WvLmc5RPeS0Sl.jpg);
    background-size: 200vw;
    -webkit-background-clip: text;


    animation: 
        movebackground 20s infinite alternate linear,
    ;
}

.divider {
    width: 100%;
    height: 1.5vh;
    background-image:url(https://t3.ftcdn.net/jpg/02/96/79/82/360_F_296798219_SdbhwO6R9dx2i1F3nS8WvLmc5RPeS0Sl.jpg);
    background-size: 200vw;
    filter: blur(8px);
    animation: move-background 20s infinite alternate linear;
}